*__pycache__*
checkpoints/
.ipynb_checkpoints
.idea
*.tar.gz
*.zip
*.pkl
*.pyc
*.pth
*.tar
***.npy
*.npy
.DS_Store
.ftpconfig 
model_fitting/train.configs
model_fitting/models
sftp-config.json
.env
*.jpg
icp/
face3d/
*.h5
*.dat
*.PNG
*.png
*.jpeg
*.obj
*.mat